<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab:100, 400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>
    <body>
        <div class="page-main">
            <header>
            <nav class="header">
                <a class="header__logo"><img src="img/Logo.svg" alt="BUKEE"></a>
                <ul class="header-list">
                    <li class="header-list__item active"><a href="" class="header-list__link">Home</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">About</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Contents</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Books</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Education</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Skills</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Portfolio</a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Clients </a></li>
                    <li class="header-list__item"><a href="" class="header-list__link">Contact</a></li>
                </ul>
            </nav>
        </header>
      

            <section class="page-green">
                    <div class="wrap">
                        <div class="block-book">
                            <div class="block-book-demo">
                            
                                <h2 class="block-book-demo__title">Good book
                                    <span>
                                            Don’t judge a book by its cover
                                    </span>
                                </h2>
                                <p class="block-book-demo__author">- By Emma Anderson</p>
                            </div>
                            <div class="block-text">
                                <p class="block-text__name">- By Emma Anderson</p>
                                <h1 class="block-text__title">
                                    BUKEE: THE BOOK 
                                <span>A room without books is like a body without a soul</span>
                                </h1>
                                <p class="block-text__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="block-text__content">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                                </p>
                                <a class="btn block-text__btn">Buy this book - $15.00</a>
                                <small class="block-text__clarification">* Some conditions may applicable</small>
                            </div>
                    </div>
                    </div>
            </section>   
        </div>  
            <section class="block-autor">
                    <div class="wrap">
                        <div class="block-autor-content">
                            <div class="block-text">
                                <p class="block-text__name block-text__name_top">-Book Author</p>
                                <h2 class="block-text__title">Emma Anderson <span>A room without books is like a body without a soul</span> </h2>
                                <p class="block-text__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="block-text__content">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <a class="btn block-text__buy">Read full biography</a>
                            </div>
                            <div class="block-avatar">
                                <svg class="block-avatar__svg" width="435" height="558">
                                    <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="558">
                                            <stop  offset="0" style="stop-color:#446986"/>
                                            <stop  offset="1" style="stop-color:#5DBDAC"/>
                                    </linearGradient>
                                    <rect x="0" y="0" width="435" height="558" fill="url(#gradient)"></rect>
                                </svg>
                                <img class="block-avatar__img" src="img/avatar.jpg" alt="avatar">
                            </div>
                         </div>
                    </div>
            </section>
            <section class="block-counter">
                <div class="wrap">
                    <h2 class="visually-hidden">Counter</h2>
                    <ul class="block-counter__list">
                        <li class="block-counter__item"><span>12</span>Total published books</li>
                        <li class="block-counter__item"><span>5</span>Happy readers</li>
                        <li class="block-counter__item"><span>15,000</span>Happy readers</li>
                    </ul>
                </div>
            </section>
            <section class="block-contents">
                <div class="wrap">
                <h2 class="page__title"><span>Book Contents</span>Let’s see what we have covered in the book</h2>
               <div class="block-contents-text">
                    <div class="block-contents-text__about">
                        <h3>About the book</h3>
                        <p class="block-contents-text__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.  
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.  
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.  
                        </p>
                        <div class="block-contents-social">
                        <p class="block-contents-social__title">Featured in:
                            <ul class="block-contents-social__list">
                                <li><a href=""><i class="fab fa-stack-overflow"></i></a></li>
                                <li><a href=""><i class="fab fa-amazon"></i></a></li>
                                <li><a href=""><i class="fab fa-sass"></i></a></li>
                            </ul>
                        </p>
                    </div>
                        
                    </div>
                    <div class="block-contents-text-table"> 
                        <h3>Table of contents</h3>
                        <ol class="block-contents-text-table__list">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                        </ol>
                        <button class="btn block-contents-text-table__btn">More</button>
                    </div>
                </div>
                </div>
            </section>     
            <section class="other-books">
                <div class="wrap">
                <h2 class="page__title"><span>Other Books</span>Some books you might be interested in</h2>
                <ul class="other-books-list">
                    <li class="other-books-list__item">
                        <div class="other-books-list__demo">
                            <h3 class="other-books-list__demo_title"><span>Inception</span>Books are the bestt friends</h3>
                            <p class="other-books-list__demo_autor">- By Emma Anderson</p>
                         </div>
                        <h3 class="other-books-list__title">Inception</h3>
                        <p class="other-books-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
    magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p> 
                        <a href="" class="link-btn other-books-list__btn">Read more</a>
                    </li>
                    <li class="other-books-list__item">
                            <div class="other-books-list__demo">
                                <h3 class="other-books-list__demo_title"><span>Fight Club</span>Books are the bestt friends</h3>
                                <p class="other-books-list__demo_autor">- By Emma Anderson</p>
                                </div>
                            <h3 class="other-books-list__title">Fight Club</h3>
                            <p class="other-books-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p> 
   
                            <a href="" class="link-btn other-books-list__btn">Read more</a>
                    </li>
                    <li class="other-books-list__item">
                            <div class="other-books-list__demo">
                                <h3 class="other-books-list__demo_title"><span>Daredevils</span>Books are the bestt friends</h3>
                                <p class="other-books-list__demo_autor">- By Emma Anderson</p>
                                </div>
                            <h3 class="other-books-list__title">Daredevils</h3>
                            <p class="other-books-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p> 
                        <a href="" class="link-btn other-books-list__btn">Read more</a>
                    </li> 
                </ul>
                <a href="" class="btn other-books__btn">Browse all books</a>
            </div>
            </section>
            <section class="page block-comment">
                <div class="wrap">
                <h2 class="visually-hidden">Comments</h2>
                <div class="block-carousel">
                    <div class="block-carousel__item">
                            <div class="block-carousel-ava">
                                    <div class="block-carousel-ava__foto">
                                        <img src="img/avatar-comment.jpg" alt="">
                                    </div>
                                    <span class="block-carousel-bg"></span>
                            </div>
                       
                        <h3 class="block-carousel__name">Kate Dennings</h3>
                        <p class="block-carousel__expert">Calligraphy Expert</p>
                        <p class="block-carousel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                    <div class="block-carousel__item">
                            <div class="block-carousel-ava">
                                    <div class="block-carousel-ava__foto">
                                        <img src="img/avatar-comment.jpg" alt="">
                                    </div>
                                    <span class="block-carousel-ava_bq"></span>
                             </div>
                            <h3 class="block-carousel__name">Kate Dennings</h3>
                            <p class="block-carousel__desc block-carousel__expert">Calligraphy Expert</p>
                            <p class="block-carousel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                    <div class="block-carousel__item">
                            <div class="block-carousel-ava">
                                    <div class="block-carousel-ava__foto">
                                        <img src="img/avatar-comment.jpg" alt="">
                                    </div>
                                    <span class="block-carousel-ava_bq"></span>
                            </div>
                            <h3 class="block-carousel__name">Kate Dennings</h3>
                            <p class="block-carousel__desc block-carousel__expert">Calligraphy Expert</p>
                            <p class="block-carousel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                </div>
                </div>
                <svg class="page__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 849"><path d="M-1 0l802 61 799-61v789l-799 60-802-60V0z" fill="#44444f" fill-rule="evenodd"/></svg>
              </section>
            <section class="page block-autor">
               
                <div class="wrap">
                    <div class="block-autor-content">
                       <div class="block-avatar">
                            <svg class="block-avatar__svg--left" width="435" height="704">
                                <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="704">
                                        <stop  offset="0" style="stop-color:#446a87"/>
                                        <stop  offset="1" style="stop-color:#59c2ae"/>
                                </linearGradient>
                                <rect x="0" y="0" width="435" height="704" fill="url(#gradient)"></rect>
                            </svg>
                            <img class="block-avatar__img--left" src="img/upcoming-events.jpg" alt="avatar">
                        </div>
                        <div class="block-text">
                            <p class="block-text__name block-text__name_top">- Emma Anderson</p>
                            <h2 class="block-text__title">Upcoming Events <span>Some upcoming events you might be interested in</span> </h2>
                            <div class="block-text-item">
                                <p class="block-text-item__date">November 21, 2018</p>
                                <h4 class="block-text-item__title">Book signing - San francisco, CA</h4>
                                <p class="block-text-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <a href="" class="btn block-text-item__btn">Register</a>
                            </div>
                            <div class="block-text-item">
                                <p class="block-text-item__date">November 21, 2018</p>
                                <h4 class="block-text-item__title">Book signing - San francisco, CA</h4>
                                <p class="block-text-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <a href="" class="btn block-text-item__btn">Register</a>
                            </div>
                            
                         
                        </div>
                     </div>
                </div>
          
            </section>      
            <section class="blog">
                <div class="wrap">
                    <h2 class="page__title"><span>Latest from Blog</span>Some of the latest posts from my personal blog</h2>
           
                    <ul class="blog__list">
                            <li class="blog__item">
                               <div class="blog__item_img"><img src="img/light-article.jpg"></div> 
                                <h3 class="blog__item_title">Importance of light in photography</h3>
                                <div class="blog__item_info">
                                        <p>By <a href="" class="blog__item_link">Emma Anderson</a> - <a href="" class="blog__item_link">June 20, 2018</a></p>
                                </div>
                                <p class="blog__item_desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                            </li>
                            <li class="blog__item">
                                    <div class="blog__item_img"><img src="img/tools-article.jpg"></div> 
                                     <h3 class="blog__item_title">The tools you need for the perfection</h3>
                                     <div class="blog__item_info">
                                            <p> By <a href="" class="blog__item_link">Emma Anderson</a> - <a href="" class="blog__item_link">June 20, 2018</a></p>
                                        </div>
                                     <p class="blog__item_desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                                 </li>
                                 <li class="blog__item">
                                        <div class="blog__item_img"><img src="img/knowing-article.jpg"></div> 
                                         <h3 class="blog__item_title">Knowing the difference is important</h3>
                                         <div class="blog__item_info">
                                                <p>By <a href="" class="blog__item_link">Emma Anderson</a> - <a href="" class="blog__item_link">June 20, 2018</a></p>
                                            </div>
                                         <p class="blog__item_desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                                     </li>
                           
                          </ul>
               
                <a href="" class="btn blog__btn">Read more in the blog</a>
                </div>
            </section>
            <section class="page">
                <div class="wrap">
                    <div class="newsletter">
                    <div class="newsletter-item">
                        <h2 class="newsletter-item__title">Join Newsletter</h2>
                        <p class="newsletter-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
        .            <div class="newsletter-item">
                          <input type="email" name="email" class="newsletter-item__input" placeholder="Enter your email">
                          <button type="submit" class="btn newsletter-item__btn">Subscribe</button>
                       
                    </div>
                    </div>   
                </div>
                
            </section>
   
        <footer class="page page-gray">
            <div class="wrap">
                <div class="footer">
                    <div class="footer-company">
                        <a class="footer-company__logo" href="" alt="logo"><img src="img/logo-footer.svg"></a>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>© 2018 Bukee Private Limited.</p>
                    </div>
                    <div claas="footer-about">
                        <h3 class="footer__title">usefull links</h3>
                        <ul class="footer-about__list">
                            <li>About Bukee</li>
                            <li>Explore Our Ecosystem</li>
                            <li>Monthly Community Meetup</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <h3 class="footer__title">Our Contacts</h3>
                        <ul class="footer-social__list">
                                <li>Amphitheatre Parkway, CA, 94043</li>
                                <li>Call us on: +4455663322</li>
                                <li>Email: support@bukee.mail</li>
                            </ul>
                        <ul class="footer-social__links">
                                <li><a href=""><i class="fab fa-facebook-f"></i></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-twitch"></i></a></li>
                                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                                <li><a href=""><i class="fab fa-slack"></i></a></li>
                                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
             </div>
          </div>
        </footer>
        <script src="../js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $(document).ready(function(){
            $('.block-carousel').slick({
                dots: true,
                arrows: false,
              
            });
            });
        </script>
    </body>
</html>